.clients h2 {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--button-color);
  color: var(--button-color);
}
